body {
	/* shifty */
	background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}

/* COMMON */
.link-purple {
	color: #3f3f3f !important;
}

.link-purple:hover {
	text-decoration: none;
	color: #3f3f3f !important;
}

.bg-dark-red {
	background-color: #3f3f3f;
}

.bg-light-red {
    background-color: #a2ab58;
}

.txt-dark-red {
    color: #3f3f3f;
}

.txt-light-red {
    color: #a2ab58;
}

/* NAV */
.nav-txt--fx:hover span {
    color: #3f3f3f;
}

.nav-txt--fx::after {
    background: #3f3f3f;
}

/* CONTACT */
.content-style-form .icon-close:hover {
    color: #3f3f3f;
}

.morph-button-modal::before {
	background: rgba(63,63,63,0.8);
}

.content-style-form button {
    background: #a2ab58;
}

.content-style-form input[type="text"]:focus, .content-style-form-textarea:focus {
    border-color: #a2ab58;
    color: #a2ab58;
}