@font-face {
	font-family: 'Quattrocento';
	src: url('../fonts/Quattrocento.eot');
	src: url('../fonts/Quattrocento.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Quattrocento.woff2') format('woff2'),
	url('../fonts/Quattrocento.woff') format('woff'),
	url('../fonts/Quattrocento.ttf') format('truetype'),
	url('../fonts/Quattrocento.svg#Quattrocento') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: white;
}

.fill {
	 flex: 1 0 auto;
 }

.font-quattrocento {
	font-family: 'Quattrocento', serif;
}

.font-transparent {
	color: transparent !important;
}

.h-05 {
	height: 5% !important;
}
.h-10 {
	height: 10% !important;
}
.h-15 {
	height: 15% !important;
}
.h-20 {
	height: 20% !important;
}
.h-30 {
	height: 30% !important;
}
.h-35 {
	height: 35% !important;
}
.h-40 {
	height: 40% !important;
}
.h-45 {
	height: 45% !important;
}
.h-55 {
	height: 55% !important;
}
.h-60 {
	height: 60% !important;
}
.h-65 {
	height: 65% !important;
}
.h-70 {
	height: 70% !important;
}
.h-80 {
	height: 80% !important;
}
.h-85 {
	height: 85% !important;
}
.h-90 {
	height: 90% !important;
}
.h-95 {
	height: 95% !important;
}
.h-px-10 {
	height: 10px !important;
}